$border__caption: 4px solid #011432;
$color__aqua: #6dd3fc;
$color__dark-blue: #011432;
$comingsoon-img: "../img/error_bg.jpg";
$error-img: "../img/error_bg.jpg";
$hover-opacity__opacity: 0.7;
$index-s4__img: "../img/contact/contact_1.jpg";
$privacy-img: "../img/error_bg.jpg"; 